<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>

<div id="component" class="container" >

<div>
  <h1>I'm the parent title</h1>
  <my-component>
    <p>This is some original content</p>
    <p>This is some more original content</p>
  </my-component>
</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script>
<script>

var data = { counter: 0 }
Vue.component(

    'my-component', {
        template : '<div>\
                    <h2>I\'m the child title</h2>\
                    <slot>\
                     This will only be displayed if there is no content to be distributed.\
                    </slot>\
                    </div>',
       
})

new Vue({

    el : '#component',

})
</script>

</body>
</html>
